{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}


{% block app_content %}

    {% if form %}
    {{ wtf.quick_form(form) }}
    {% endif %}
  
        <h2>Current Stocks</h2>
        <div class="table-responsive">
          <table class="table table-striped table-sm">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Ticker</th>
                <th scope="col">Purchase Date</th>
                <th scope="col">Price</th>
                <th scope="col">Commision</th>
                <th scope="col" colspan="2">Actions</th>
              </tr>
            </thead>
            <tbody>            
            {% for stock in currentStocks %}
              <tr>
                <td>{{stock.id}}</td>
                <td>{{stock.ticker}}</td>
                <td>{{stock.purchase_date}}</td>
                <td>{{stock.price}}</td>
                <td>{{stock.commision}}</td>
                <td>
                  <a href="{{ url_for('main.edit_current_stock' ,current_stock_id= stock.id) }}" class="btn btn-sm btn-outline-secondary">Edit</a>
                </td>
                <td>
                  <form action="{{ url_for('main.delete_current_stock' ,current_stock_id= stock.id) }}" method="post">
                    <input type="hidden" name="method" value="DELETE">
                    <input type="submit" value="Delete" class="btn btn-sm btn-outline-secondary"/>
                  </form>
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </main>
    </div>
  </div>


{% endblock %}
